body	{ 
	background: #fff;
	color: #939393;
	font: normal 11px Helvetica, Verdana, Arial, Sans-Serif;
}
.clear	{ 
	clear: both;
}
.right	{ 
	text-align: right;
}
.center	{ 
	text-align: center;
}

a	{
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #000;
}
a > img {
	border: 0;
}


h1 { color: #2a3; width: 100%; text-align: right }
h2 { color: #2a9; }

.important { 
	background-color: #faa;
	border: 1px dashed #f00;
	color: #f00;
	padding: .5em;
	font-size: 1.25em;
}
div.important { 
	width: 75%;
	margin-left: 10%;
	margin-top: 1em;
	margin-bottom: 1em;
}


#Btop,
#Bmiddle,
#Bbottom { 
	width: 800px;
	margin-left: 10px;
}
#Btop { 
	height: 90px;
	background: url("img/head.jpg") no-repeat left top;
	margin-top: 10px;
}
#Bbottom { 
	height: 15px;
	background-color: #aaa;
	margin-bottom: 10px;
	color: #fff;
	text-align: center;
}


#topMenu { 
	height: 1.5em;
	background: transparent url("img/headMenu.png") repeat left top;
}

#topMenu ul { 
	display: inline;
	list-style: none;
	height: 1em;
	padding: 0;
}

#topMenu li	{
	display: inline;
	margin-left: .5em;
}

#topMenu a	{
	color: #333;
	text-decoration: none;
}

#topMenu a:hover,
#topMenu .on {
	color: #fff;
}

#topMenu .on {
	font-weight: bold;
}

form {
	padding-left: 30px;
}
form label {
	float: left;
	width: 100px;
	height: 30px;
}
form label + div {
	height: 30px;
}
form input[type=submit] {
	float: right;
}

